In [ ]:
# Import necessary libraries
import pandas as pd

In [ ]:
# Load the dataset
file_path = '/content/phone_usage_india.csv'  # Replace with the path to your raw dataset
df = pd.read_csv(file_path)

In [ ]:
# 1. Data Overview
# Check for null values, duplicate rows, and data types
print("Initial Dataset Overview:")
print("Null Values:\n", df.isnull().sum())
print("Duplicates:", df.duplicated().sum())
print("Data Types:\n", df.dtypes)

Initial Dataset Overview:
Null Values:
 User ID                         0
Age                             0
Gender                          0
Location                        0
Phone Brand                     0
OS                              0
Screen Time (hrs/day)           0
Data Usage (GB/month)           0
Calls Duration (mins/day)       0
Number of Apps Installed        0
Social Media Time (hrs/day)     0
E-commerce Spend (INR/month)    0
Streaming Time (hrs/day)        0
Gaming Time (hrs/day)           0
Monthly Recharge Cost (INR)     0
Primary Use                     0
dtype: int64
Duplicates: 0
Data Types:
 User ID                          object
Age                               int64
Gender                           object
Location                         object
Phone Brand                      object
OS                               object
Screen Time (hrs/day)           float64
Data Usage (GB/month)           float64
Calls Duration (mins/day)       float64
Number of Apps Installed          int64
Social Media Time (hrs/day)     float64
E-commerce Spend (INR/month)      int64
Streaming Time (hrs/day)        float64
Gaming Time (hrs/day)           float64
Monthly Recharge Cost (INR)       int64
Primary Use                      object
dtype: object

In [ ]:
# 2. Handling Missing Data
# Fill numerical columns with median and categorical columns with mode
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = df.select_dtypes(include=['object']).columns

df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].median())
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

print("\nNull Values After Handling Missing Data:\n", df.isnull().sum())

Null Values After Handling Missing Data:
 User ID                         0
Age                             0
Gender                          0
Location                        0
Phone Brand                     0
OS                              0
Screen Time (hrs/day)           0
Data Usage (GB/month)           0
Calls Duration (mins/day)       0
Number of Apps Installed        0
Social Media Time (hrs/day)     0
E-commerce Spend (INR/month)    0
Streaming Time (hrs/day)        0
Gaming Time (hrs/day)           0
Monthly Recharge Cost (INR)     0
Primary Use                     0
dtype: int64

In [ ]:
# 3. Outlier Detection and Handling
# Function to handle outliers using the IQR method
def handle_outliers(col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[col] = df[col].clip(lower_bound, upper_bound)

# Apply outlier handling to selected columns
outlier_columns = ['Screen Time (hrs/day)', 'Data Usage (GB/month)']  # Update as needed
for col in outlier_columns:
    handle_outliers(col)

In [ ]:
# 4. Data Transformation
# Convert 'Age' into categories (Youth, Adult, Senior)
df['Age Group'] = pd.cut(df['Age'], bins=[15, 25, 50, 60], labels=['Youth', 'Adult', 'Senior'])

# Normalize 'Monthly Recharge Cost (INR)'
df['Normalized Recharge Cost'] = (df['Monthly Recharge Cost (INR)'] - df['Monthly Recharge Cost (INR)'].min()) / (
        df['Monthly Recharge Cost (INR)'].max() - df['Monthly Recharge Cost (INR)'].min())

In [ ]:
# 5. Logical Validation
# Check and fix invalid categories in the 'Gender' column
valid_genders = ['Male', 'Female', 'Other']
df['Gender'] = df['Gender'].apply(lambda x: x if x in valid_genders else 'Other')

# Final Dataset Overview
print("\nCleaned Dataset Overview:")
print("Null Values:\n", df.isnull().sum())
print(df.describe(include='all'))

# Save the cleaned dataset for Power BI visualization
cleaned_file_path = '/content/cleaned_phone_usage_india.csv'  # Replace with the desired path
df.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned dataset saved to {cleaned_file_path}")

Cleaned Dataset Overview:
Null Values:
 User ID                           0
Age                               0
Gender                            0
Location                          0
Phone Brand                       0
OS                                0
Screen Time (hrs/day)             0
Data Usage (GB/month)             0
Calls Duration (mins/day)         0
Number of Apps Installed          0
Social Media Time (hrs/day)       0
E-commerce Spend (INR/month)      0
Streaming Time (hrs/day)          0
Gaming Time (hrs/day)             0
Monthly Recharge Cost (INR)       0
Primary Use                       0
Age Group                       396
Normalized Recharge Cost          0
dtype: int64
       User ID           Age  Gender Location Phone Brand       OS  \
count    17686  17686.000000   17686    17686       17686    17686
unique   17686           NaN       3       10          10        2
top     U00001           NaN  Female   Jaipur       Nokia  Android
freq         1           NaN    5969     1824        1816     8851
mean       NaN     37.584247     NaN      NaN         NaN      NaN
std        NaN     13.338252     NaN      NaN         NaN      NaN
min        NaN     15.000000     NaN      NaN         NaN      NaN
25%        NaN     26.000000     NaN      NaN         NaN      NaN
50%        NaN     38.000000     NaN      NaN         NaN      NaN
75%        NaN     49.000000     NaN      NaN         NaN      NaN
max        NaN     60.000000     NaN      NaN         NaN      NaN

        Screen Time (hrs/day)  Data Usage (GB/month)  \
count            17686.000000           17686.000000
unique                    NaN                    NaN
top                       NaN                    NaN
freq                      NaN                    NaN
mean                 6.546376              25.411257
std                  3.172677              14.122167
min                  1.000000               1.000000
25%                  3.800000              13.200000
50%                  6.600000              25.300000
75%                  9.300000              37.600000
max                 12.000000              50.000000

        Calls Duration (mins/day)  Number of Apps Installed  \
count                17686.000000              17686.000000
unique                        NaN                       NaN
top                           NaN                       NaN
freq                          NaN                       NaN
mean                   151.405846                104.584869
std                     84.923353                 55.217097
min                      5.000000                 10.000000
25%                     77.325000                 57.000000
50%                    150.600000                104.000000
75%                    223.900000                152.000000
max                    300.000000                200.000000

        Social Media Time (hrs/day)  E-commerce Spend (INR/month)  \
count                  17686.000000                  17686.000000
unique                          NaN                           NaN
top                             NaN                           NaN
freq                            NaN                           NaN
mean                       3.252369                   5075.707848
std                        1.590223                   2871.604841
min                        0.500000                    100.000000
25%                        1.900000                   2587.500000
50%                        3.200000                   5052.000000
75%                        4.600000                   7606.000000
max                        6.000000                  10000.000000

        Streaming Time (hrs/day)  Gaming Time (hrs/day)  \
count               17686.000000           17686.000000
unique                       NaN                    NaN
top                          NaN                    NaN
freq                         NaN                    NaN
mean                    4.250616               2.490874
std                     2.155683               1.446003
min                     0.500000               0.000000
25%                     2.400000               1.200000
50%                     4.200000               2.500000
75%                     6.100000               3.700000
max                     8.000000               5.000000

        Monthly Recharge Cost (INR) Primary Use Age Group  \
count                  17686.000000       17686     17290
unique                          NaN           5         3
top                             NaN   Education     Adult
freq                            NaN        3601      9514
mean                    1042.785367         NaN       NaN
std                      552.502067         NaN       NaN
min                      100.000000         NaN       NaN
25%                      561.000000         NaN       NaN
50%                     1040.000000         NaN       NaN
75%                     1521.750000         NaN       NaN
max                     2000.000000         NaN       NaN

        Normalized Recharge Cost
count               17686.000000
unique                       NaN
top                          NaN
freq                         NaN
mean                    0.496203
std                     0.290791
min                     0.000000
25%                     0.242632
50%                     0.494737
75%                     0.748289
max                     1.000000

Cleaned dataset saved to /content/cleaned_phone_usage_india.csv